.header {
    background-image: url('@/img/header-bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;

    &__container {
        width: 100%;
        height: 100%;

        @include breakpoint-down('medium') {
            justify-content: center;
            height: 100vh;
        }
    } 

    &__menu {
        width: 100%;
        max-width: 67rem;
        padding: 0 2rem;

        &--link {
            color: $color-white;
            font-family: $outrunfuture-font;
            text-transform: uppercase;
            font-size: clamp(1.1rem, 0.3000rem + 2.5000vw, 2.4rem);
            width: 100%;
            height: 100%;
            position: relative;
            transition: all .3s ease-in-out;

            &::before {
                content: '';
                position: absolute;
                display: none;
                width: 100%;
                height: 3px;
                margin-top: 3.5rem;
                background-color: $color-red;
            }

            &:hover {
                color: $color-red;
                
                &::before {
                    display: block;
                }
            }
        }
    }

    &__graffiti {
        width: 100%;
        height: auto;
        padding: 0 2rem;

        img {
        transition: transform $header-transition ease-in-out;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .graffiti__image--1 {
        max-width: 90rem;
        width: 100%;
        height: auto;
    }

    .graffiti__image--2 {
        max-width: 50rem;
        width: 100%;
        height: auto;
        padding: 0 3rem;
    }

    &__button {
        @include button($color-black, $color-red);
    }

    &__hamburger {
        display: block;
        position: absolute;
        top: 6%;
        right: 6%;
        width: 4rem;
        height: 5rem;
        cursor: pointer;
        z-index: 10000;

        span {
            display: block;
            width: 4rem;
            height: .4rem;
            background-color: $color-red;
            transition: all 0.3s ease-in-out;

            &:not(:last-child) {
                margin-bottom: .9rem;
            }
        }
    }

    &__mobile--menu {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: auto;
        scroll-behavior: smooth;
        overflow: auto;
        z-index: 20;
        padding-top: 10rem;
        
        & > *:not(:last-child) {
            margin-bottom: 5rem;
        }

        a {
            font-size: clamp(3rem, 1.5000rem + 4.1667vw, 5rem);
            font-family: $outrunfuture-font;
            line-height: 3rem;
            color: $color-white;
        }
    }

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0, .9);
        z-index: 10;
        width: 100%;
        height: 100%;
        visibility: hidden;
    }

    &.open {
        .header__hamburger {
            margin: 0;
            span:first-child {
                transform: rotate(45deg) translateY(1.8rem);
            }       

            span:nth-child(2) {
                opacity: 0;
            }

            span:last-child {
                transform: rotate(-45deg) translateY(-1.8rem);
            }
        }

        .header__overlay {
            visibility: visible;
        }
    }
}