@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
    font-family: future;
    src: url("@/typography/future.otf") format("opentype");
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

a, a:visited, a:active {
    text-decoration: none;
    display: inline-block;
}

li {
    list-style: none;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px/16px -> 1rem = 10px
}

body {
    font-family: $montserrat-font;
    font-size: 1.4rem;
    line-height: 3.6rem;

    &.noscroll {
        overflow: hidden;
    }
}

/* / Supports classes / */

.container {
    max-width: $container-width;
    margin: 0 auto;
}

/* / Visibility /  */ 
.hide-for-mobile {
    @include breakpoint-down(medium) {
        display: none !important;
        visibility: hidden;
    }
}

.hide-for-desctop {
    @include breakpoint-up(large) {
        display: none !important;
        visibility: hidden;
    }
}

.flex {
    display: flex;

    &-center {
        justify-content: center;
        align-items: center;
    }

    &-column {
        flex-direction: column;
    }

    &-wrap {
        flex-wrap: wrap;
    }

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-sa {
        justify-content: space-around;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }
}

.text-center {
    text-align: center;
}

.has-fade { // I loop over this class and show / hide elements
    visibility: hidden;
}

/* / Margins /  */ 
.mb-large {
    margin-bottom: clamp(8rem, 10vw, 16rem);
}

.mb-big {
    margin-bottom: clamp(5.5rem, 10vw, 11rem);
}

.mb-medium {
    margin-bottom: clamp(3rem, 10vw, 6rem);
}

.mb-small {
    margin-bottom: clamp(1.5rem, 4vw, 3rem);
}

.mt-big {
    margin-top: clamp(5.5rem, 10vw, 11rem);
}

.m-sides-sm {
    margin: inherit 2rem;
}