@mixin button($color, $color-hover) {
    color: $color;
    font-family: $outrunfuture-font;
    display: inline;
    background-color: transparent;
    font-size: clamp(1.4rem, 1.1000rem + 0.8333vw, 1.8rem);
    overflow: hidden;
    cursor: pointer;
    transition: all .2s ease-in-out;
    border: none;
    outline: none;
    position: relative;
    background-image: url('@/img/button-bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    max-width: 24rem;
    max-height: 5rem;
    width: 100%;
    height: 100%;
    transition: all $header-transition ease-in-out;

    @include breakpoint-down('small') {
        max-width: 18rem;
        max-height: 4rem;
    }

    @include breakpoint-up('mobile') {
        max-width: 242rem;
    }

    &:hover {
        transform: scale(1.1);
        box-shadow: $shadow;
        color: $color-hover;  
    }
}

// Media queries
@media (min-width: 64em) {
    //styele
}

// --> 640px, 1024px, 1400px -->
$breakpoints-up: ("medium": "40em", "large": "64em", "xlarge": "80em");

// <-- 639px, 1023px, 1399px <--
$breakpoints-down: ("small": "39.9375em","medium": "63.9375em", "large": "87.4375em");

@mixin breakpoint-up($size) {
    @media (min-width: map-get($breakpoints-up, $size)) {
        @content;
    }
}

@mixin breakpoint-down($size) {
    @media (max-width: map-get($breakpoints-down, $size)) {
        @content;
    }
}