/* Colors */
$color-white: #ffffff;
$color-black: #000000;
$color-grey: #313131;
$heading-red: #ff5042;
$desc-blue: #95a7ff;

/* Container width */
$container-width: 147rem;

/* Clamped values */

/* Typography */
$montserrat-font: 'Montserrat', sans-serif;
$outrunfuture-font: 'future', sans-serif;